
CMakeListsDSO.txt
test_data/SSH-0170-l01s01-20210210-111341.cereal
test_data/SSH-0171-l02s01-20210210-112129.cereal
bin/test_demo
build/cmake_install.cmake
build/CMakeCache.txt
build/CMakeFiles/3.16.3/CMakeCCompiler.cmake
build/CMakeFiles/3.16.3/CMakeCXXCompiler.cmake
build/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.16.3/CMakeSystem.cmake
build/CMakeFiles/3.16.3/CompilerIdC/a.out
build/CMakeFiles/3.16.3/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.16.3/CompilerIdCXX/a.out
build/CMakeFiles/3.16.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/test_demo.dir/build.make
build/CMakeFiles/test_demo.dir/cmake_clean.cmake
build/CMakeFiles/test_demo.dir/CXX.includecache
build/CMakeFiles/test_demo.dir/depend.internal
build/CMakeFiles/test_demo.dir/depend.make
build/CMakeFiles/test_demo.dir/DependInfo.cmake
build/CMakeFiles/test_demo.dir/flags.make
build/CMakeFiles/test_demo.dir/link.txt
build/CMakeFiles/test_demo.dir/progress.make
build/CMakeFiles/test_demo.dir/src/diasss.cpp.o
build/Makefile
.vscode/settings.json
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-cdfe1b7d84e4a0a9a7e9.json
build/.cmake/api/v1/reply/cmakeFiles-v1-b6a057bd049d2e623c28.json
build/.cmake/api/v1/reply/codemodel-v2-c13e1de35812c5a33e54.json
build/.cmake/api/v1/reply/index-2022-09-07T09-43-16-0613.json
build/.cmake/api/v1/reply/target-diasss-1dc84e1585a9a7b65390.json
build/.cmake/api/v1/reply/target-test_demo-60afcf9f8c1f26216bb1.json
build/CMakeFiles/diasss.dir/build.make
build/CMakeFiles/diasss.dir/cmake_clean.cmake
build/CMakeFiles/diasss.dir/cmake_clean_target.cmake
build/CMakeFiles/diasss.dir/CXX.includecache
build/CMakeFiles/diasss.dir/depend.internal
build/CMakeFiles/diasss.dir/depend.make
build/CMakeFiles/diasss.dir/DependInfo.cmake
build/CMakeFiles/diasss.dir/flags.make
build/CMakeFiles/diasss.dir/link.txt
build/CMakeFiles/diasss.dir/progress.make
build/CMakeFiles/diasss.dir/src/util/util.cpp.o
build/libdiasss.a
.vscode/tasks.json
build/.cmake/api/v1/query/client-integration-vscode/cache-v2
build/.cmake/api/v1/query/client-integration-vscode/cmakeFiles-v1
build/.cmake/api/v1/query/client-integration-vscode/codemodel-v2
build/.cmake/api/v1/reply/cache-v2-db92e7640c9290ef0d87.json
build/.cmake/api/v1/reply/cmakeFiles-v1-3a2dcf0070ee20ba34dd.json
build/.cmake/api/v1/reply/codemodel-v2-f132aea5baca1d940661.json
build/.cmake/api/v1/reply/index-2022-10-07T08-39-46-0542.json
build/.cmake/api/v1/reply/target-diasss-Debug-e69175a5a506eab566ab.json
build/.cmake/api/v1/reply/target-test_demo-Debug-20450f86bdbb82aa9951.json
build/build.ninja
build/CMakeFiles/CMakeError.log
build/CMakeFiles/diasss.dir/src/core/frame.cpp.o
build/CMakeFiles/test_demo.dir/src/diasss2.cpp.o
build/compile_commands.json
build/rules.ninja
test_data/altitude/ssh-170-alti.txt
test_data/altitude/ssh-171-alti.txt
test_data/altitude/ssh-172-alti.txt
test_data/altitude/ssh-173-alti.txt
test_data/altitude/ssh-174-alti.txt
test_data/cereal/SSH-0170-l01s01-20210210-111341.cereal
test_data/cereal/SSH-0171-l02s01-20210210-112129.cereal
test_data/groundrange/ssh-170-gr.txt
test_data/groundrange/ssh-171-gr.txt
test_data/groundrange/ssh-172-gr.txt
test_data/groundrange/ssh-173-gr.txt
test_data/groundrange/ssh-174-gr.txt
test_data/image/ssh-170-img.txt
test_data/image/ssh-171-img.txt
test_data/image/ssh-172-img.txt
test_data/image/ssh-173-img.txt
test_data/image/ssh-174-img.txt
test_data/img-xml/ssh-170-img.xml
test_data/img-xml/ssh-171-img.xml
test_data/img-xml/ssh-172-img.xml
test_data/img-xml/ssh-173-img.xml
test_data/img-xml/ssh-174-img.xml
test_data/pose-xml/ssh-170-pose.xml
test_data/pose-xml/ssh-171-pose.xml
test_data/pose-xml/ssh-172-pose.xml
test_data/pose-xml/ssh-173-pose.xml
test_data/pose-xml/ssh-174-pose.xml
test_data/pose/ssh-170-pose.txt
test_data/pose/ssh-171-pose.txt
test_data/pose/ssh-172-pose.txt
test_data/pose/ssh-173-pose.txt
test_data/pose/ssh-174-pose.txt
build/.cmake/api/v1/reply/index-2022-10-07T12-48-50-0865.json
build/.cmake/api/v1/reply/index-2022-10-07T15-15-16-0928.json
