
CMakeListsDSO.txt
test_data/SSH-0170-l01s01-20210210-111341.cereal
test_data/SSH-0171-l02s01-20210210-112129.cereal
bin/test_demo
build/cmake_install.cmake
build/CMakeCache.txt
build/CMakeFiles/3.16.3/CMakeCCompiler.cmake
build/CMakeFiles/3.16.3/CMakeCXXCompiler.cmake
build/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.16.3/CMakeSystem.cmake
build/CMakeFiles/3.16.3/CompilerIdC/a.out
build/CMakeFiles/3.16.3/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.16.3/CompilerIdCXX/a.out
build/CMakeFiles/3.16.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/test_demo.dir/build.make
build/CMakeFiles/test_demo.dir/cmake_clean.cmake
build/CMakeFiles/test_demo.dir/CXX.includecache
build/CMakeFiles/test_demo.dir/depend.internal
build/CMakeFiles/test_demo.dir/depend.make
build/CMakeFiles/test_demo.dir/DependInfo.cmake
build/CMakeFiles/test_demo.dir/flags.make
build/CMakeFiles/test_demo.dir/link.txt
build/CMakeFiles/test_demo.dir/progress.make
build/CMakeFiles/test_demo.dir/src/diasss.cpp.o
build/Makefile
.vscode/settings.json
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-cdfe1b7d84e4a0a9a7e9.json
build/.cmake/api/v1/reply/cmakeFiles-v1-b6a057bd049d2e623c28.json
build/.cmake/api/v1/reply/codemodel-v2-c13e1de35812c5a33e54.json
build/.cmake/api/v1/reply/index-2022-09-07T09-43-16-0613.json
build/.cmake/api/v1/reply/target-diasss-1dc84e1585a9a7b65390.json
build/.cmake/api/v1/reply/target-test_demo-60afcf9f8c1f26216bb1.json
build/CMakeFiles/diasss.dir/build.make
build/CMakeFiles/diasss.dir/cmake_clean.cmake
build/CMakeFiles/diasss.dir/cmake_clean_target.cmake
build/CMakeFiles/diasss.dir/CXX.includecache
build/CMakeFiles/diasss.dir/depend.internal
build/CMakeFiles/diasss.dir/depend.make
build/CMakeFiles/diasss.dir/DependInfo.cmake
build/CMakeFiles/diasss.dir/flags.make
build/CMakeFiles/diasss.dir/link.txt
build/CMakeFiles/diasss.dir/progress.make
build/CMakeFiles/diasss.dir/src/util/util.cpp.o
build/libdiasss.a
.vscode/tasks.json
build/.cmake/api/v1/query/client-integration-vscode/cache-v2
build/.cmake/api/v1/query/client-integration-vscode/cmakeFiles-v1
build/.cmake/api/v1/query/client-integration-vscode/codemodel-v2
build/.cmake/api/v1/reply/cache-v2-db92e7640c9290ef0d87.json
build/.cmake/api/v1/reply/cmakeFiles-v1-3a2dcf0070ee20ba34dd.json
build/.cmake/api/v1/reply/codemodel-v2-f132aea5baca1d940661.json
build/.cmake/api/v1/reply/index-2022-10-07T08-39-46-0542.json
build/.cmake/api/v1/reply/target-diasss-Debug-e69175a5a506eab566ab.json
build/.cmake/api/v1/reply/target-test_demo-Debug-20450f86bdbb82aa9951.json
build/build.ninja
build/CMakeFiles/CMakeError.log
build/CMakeFiles/diasss.dir/src/core/frame.cpp.o
build/CMakeFiles/test_demo.dir/src/diasss2.cpp.o
build/compile_commands.json
build/rules.ninja
test_data/altitude/ssh-170-alti.txt
test_data/altitude/ssh-171-alti.txt
test_data/altitude/ssh-172-alti.txt
test_data/altitude/ssh-173-alti.txt
test_data/altitude/ssh-174-alti.txt
test_data/cereal/SSH-0170-l01s01-20210210-111341.cereal
test_data/cereal/SSH-0171-l02s01-20210210-112129.cereal
test_data/groundrange/ssh-170-gr.txt
test_data/groundrange/ssh-171-gr.txt
test_data/groundrange/ssh-172-gr.txt
test_data/groundrange/ssh-173-gr.txt
test_data/groundrange/ssh-174-gr.txt
test_data/image/ssh-170-img.txt
test_data/image/ssh-171-img.txt
test_data/image/ssh-172-img.txt
test_data/image/ssh-173-img.txt
test_data/image/ssh-174-img.txt
test_data/img-xml/ssh-170-img.xml
test_data/img-xml/ssh-171-img.xml
test_data/img-xml/ssh-172-img.xml
test_data/img-xml/ssh-173-img.xml
test_data/img-xml/ssh-174-img.xml
test_data/pose-xml/ssh-170-pose.xml
test_data/pose-xml/ssh-171-pose.xml
test_data/pose-xml/ssh-172-pose.xml
test_data/pose-xml/ssh-173-pose.xml
test_data/pose-xml/ssh-174-pose.xml
test_data/pose/ssh-170-pose.txt
test_data/pose/ssh-171-pose.txt
test_data/pose/ssh-172-pose.txt
test_data/pose/ssh-173-pose.txt
test_data/pose/ssh-174-pose.txt
build/.cmake/api/v1/reply/index-2022-10-07T12-48-50-0865.json
build/.cmake/api/v1/reply/index-2022-10-07T15-15-16-0928.json
build/.cmake/api/v1/reply/cache-v2-d8f51a16195412c8a2e5.json
build/.cmake/api/v1/reply/cmakeFiles-v1-63e79c28d656ddb13de8.json
build/.cmake/api/v1/reply/codemodel-v2-a40d916989366fc58c33.json
build/.cmake/api/v1/reply/index-2022-10-10T12-32-07-0905.json
build/.cmake/api/v1/reply/target-diasss-b272b71c06f00c90e738.json
build/.cmake/api/v1/reply/target-test_demo-497a1bcd0f0ef35c7ebd.json
build/CMakeFiles/diasss.dir/src/core/FEAmatcher.cpp.o
build/CMakeFiles/diasss.dir/thirdparty/ORBextractor.cpp.o
test_data/annos-xml/SSH-0170.xml
test_data/annos-xml/SSH-0171.xml
test_data/annos-xml/SSH-0172.xml
test_data/annos-xml/SSH-0173.xml
test_data/annos-xml/SSH-0174.xml
build/.cmake/api/v1/reply/cache-v2-053451305a8bd1c28104.json
build/.cmake/api/v1/reply/cmakeFiles-v1-ffb30d87b6c0f54c1d4d.json
build/.cmake/api/v1/reply/codemodel-v2-7a4cbdc260d268c83c1b.json
build/.cmake/api/v1/reply/index-2022-10-26T15-21-31-0549.json
build/.cmake/api/v1/reply/target-diasss-a1419cdb84b6b7174c11.json
build/.cmake/api/v1/reply/target-test_demo-5b19d67f3b413dad59ee.json
build/CMakeFiles/diasss.dir/src/core/LMtriangulatefactor.cpp.o
build/CMakeFiles/diasss.dir/src/core/optimizer.cpp.o
build/.cmake/api/v1/reply/codemodel-v2-c71e9e6c9cdaeaa801bd.json
build/.cmake/api/v1/reply/index-2022-10-31T10-34-12-0351.json
build/.cmake/api/v1/reply/target-diasss-05a8a35931f341a2c4e9.json
build/.cmake/api/v1/reply/target-test_demo-4d4828a32a7874136005.json
build/CMakeFiles/diasss.dir/src/core/SSSpointfactor.cpp.o
fnl_lm_errors.txt
ini_lm_error.txt
dr_poses.txt
est_poses.txt
